# Copyright (c) 2025 CannonKeys LLC
# SPDX-License-Identifier: MIT

config BOARD_LINK
    bool "link"
    depends on SOC_NRF52840_QIAA

config BOARD_LINK_LEFT
    bool "link_left"
    depends on SOC_NRF52840_QIAA

config BOARD_LINK_RIGHT
    bool "link_right"
    depends on SOC_NRF52840_QIAA
