# Copyright (c) 2025 Andrew Kannan
# SPDX-License-Identifier: MIT

if BOARD_CK60_W

config ZMK_KEYBOARD_NAME
    default "CK60 W"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_CK60_W
